In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import style

In [7]:
xlsx = pd.ExcelFile('data_telco.xlsx')
telco = pd.read_excel(xlsx, 'data_telco')

In [89]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 42 columns):
region                          1000 non-null object
Months with service             1000 non-null int64
age                             1000 non-null int64
Marital Status                  1000 non-null int64
Years at current address        1000 non-null int64
Household income in thousand    1000 non-null int64
Level of Education              1000 non-null int64
Years with current employer     1000 non-null int64
Retired                         1000 non-null int64
Gender                          1000 non-null object
No. of people in household      1000 non-null int64
Tollfree service                1000 non-null int64
Equipment rental                1000 non-null int64
Calling card service            1000 non-null int64
Wireless Service                1000 non-null int64
Long distance last month        1000 non-null float64
Tollfree last month             1000 non-null float64
Equipment last month            1000 non-null float64
Calling card last month         1000 non-null float64
Wireless last month             1000 non-null float64
Long distance over tenure       1000 non-null float64
Toll free over tenure           1000 non-null float64
Equipment over tenure           1000 non-null float64
Calling card over tenure        1000 non-null float64
Wireless over tenure            1000 non-null float64
Multiple lines                  1000 non-null int64
Voice mail                      1000 non-null int64
Paging service                  1000 non-null int64
internet                        1000 non-null int64
callid                          1000 non-null int64
Call waiting                    1000 non-null int64
Call forwarding                 1000 non-null int64
3-way calling                   1000 non-null int64
Electronic billing              1000 non-null int64
Log-long distance               1000 non-null float64
logtoll                         475 non-null float64
Log-equipment                   386 non-null float64
Log-calling card                678 non-null float64
Log-wireless                    296 non-null float64
Log-income                      1000 non-null float64
Customer category               1000 non-null object
Churn within last month         1000 non-null int64
dtypes: float64(16), int64(23), object(3)
memory usage: 316.4+ KB

NoneType

In [84]:
total = telco.isnull().sum()
percent1 = telco.isnull().sum()*100/telco.isnull().count()
percent = (round(percent1,1))
missing_data = pd.concat([total,percent],axis = 1,keys = ['total_null','percent_null']).transpose()
missing_data

,region,Months with service,age,Marital Status,Years at current address,Household income in thousand,Level of Education,Years with current employer,Retired,Gender,...,3-way calling,Electronic billing,Log-long distance,logtoll,Log-equipment,Log-calling card,Log-wireless,Log-income,Customer category,Churn within last month
total_null,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,525.0,614.0,322.0,704.0,0.0,0.0,0.0
percent_null,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,52.5,61.4,32.2,70.4,0.0,0.0,0.0

In [86]:
def deep_describe(data):
    cmsq = data.describe()
    
    mode = data.mode(axis = 0,numeric_only=True)
    mode = mode.dropna(axis = 0,how='any')
    mode = mode.set_index([['mode']])
    
    skew = pd.DataFrame(data.skew()).transpose()
    skew = skew.set_index([['skewness']])
    
    tr = [cmsq,mode,median,skew]
    return pd.concat(tr)
    
deep_describe(telco)

,Months with service,age,Marital Status,Years at current address,Household income in thousand,Level of Education,Years with current employer,Retired,No. of people in household,Tollfree service,...,Call forwarding,3-way calling,Electronic billing,Log-long distance,logtoll,Log-equipment,Log-calling card,Log-wireless,Log-income,Churn within last month
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,475.000000,386.000000,678.000000,296.000000,1000.000000,1000.000000
mean,35.526000,41.684000,0.495000,11.551000,77.535000,2.671000,10.987000,0.047000,2.331000,0.474000,...,0.493000,0.502000,0.371000,2.181930,3.239874,3.568135,2.854027,3.597872,3.957000,0.274000
std,21.359812,12.558816,0.500225,10.086681,107.044165,1.222397,10.082087,0.211745,1.435793,0.499573,...,0.500201,0.500246,0.483314,0.734301,0.413795,0.277567,0.557612,0.367397,0.803548,0.446232
min,1.000000,18.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,-0.110000,1.750000,2.730000,1.010000,2.700000,2.200000,0.000000
25%,17.000000,32.000000,0.000000,3.000000,29.000000,2.000000,3.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,1.650000,2.970000,3.370000,2.460000,3.330000,3.370000,0.000000
50%,34.000000,40.000000,0.000000,9.000000,47.000000,3.000000,8.000000,0.000000,2.000000,0.000000,...,0.000000,1.000000,0.000000,2.145000,3.210000,3.570000,2.850000,3.590000,3.850000,0.000000
75%,54.000000,51.000000,1.000000,18.000000,83.000000,4.000000,17.000000,0.000000,3.000000,1.000000,...,1.000000,1.000000,1.000000,2.670000,3.490000,3.760000,3.210000,3.860000,4.420000,1.000000
max,72.000000,77.000000,1.000000,55.000000,1668.000000,5.000000,47.000000,1.000000,8.000000,1.000000,...,1.000000,1.000000,1.000000,4.600000,5.150000,4.350000,4.690000,4.720000,7.420000,1.000000
mode,72.000000,33.000000,0.000000,1.000000,25.000000,2.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,1.450000,3.310000,3.670000,2.930000,3.330000,3.220000,0.000000
median,34.000000,40.000000,0.000000,9.000000,47.000000,3.000000,8.000000,0.000000,2.000000,0.000000,...,0.000000,1.000000,0.000000,2.145000,3.210000,3.570000,2.850000,3.590000,3.850000,0.000000
skewness,0.111860,0.356664,0.020031,1.106246,6.643272,0.193271,1.061049,4.287311,1.033446,0.104297,...,0.028045,-0.008012,0.534884,0.166539,0.301884,0.032305,0.079859,0.200068,0.701908,1.014956